body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

html body iframe {
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header p {
  display: inline-block;
}

.container {
  display: inline-flex;
  flex-flow: column wrap;
  flex-direction: row;
  column-gap: normal;
  justify-content: center;
  z-index: auto;
}

.column.large {
  width: 630px;
}

.mainStory .p {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.mainStory .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.image_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}

.h2 {
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.subContent {
  display: inline-flex;
  flex-flow: column wrap;
  flex-direction: row;
  column-gap: normal;
  justify-content: center;
  z-index: auto;
}

.imgHeadline2 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  background-repeat: no-repeat;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px color: white;
  text-align: center;
}

.imgHeadline3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  background-repeat: no-repeat;
}

.imgHeadline4 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  background-repeat: no-repeat;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

h3 {}

footer nav {}
